/* ==================
| | Imported Fonts
================== */

 @import url('https://fonts.googleapis.com/css?family=Manjari|Satisfy&display=swap');

/* ==================
| | Variables
================== */

 :root {
   --darkest: #6E2529;
   --darker: #547361;
   --medium: #75A187;
   --lighter: #FCE9C0;
   --lightest: #FFBABA;
 }

/* ==================
| | MOBILE VIEW
================== */

  /* ==== GENERAL ==== */
/* html {

} */
  body {
    background-image: url("/images/background1.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    margin: 0;
    /* background-image: url("/images/background1.jpg");

    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; */
    /* background-color: var(--medium); */
    color: var(--darkest);
    font-family: 'Manjari', sans-serif;
    overflow-y: auto;
    height: 800px;
  }
  /* #image {
    min-height: 100%;
    min-width: 1024px;
    width: 100%;
    height: auto;
    position: fixed;
    top: 0;
    left: 0;
  } */
  .container {
    margin: 0 auto;
    min-width: 400px;
  }

  .align-center {
    margin: 0 auto;
    text-align: center;
    font-family: 'Satistfy', cursive;
  }

  /* ==== HEADER ==== */

  header {
    background-color: rgba(252, 233, 192, .3);
    color: var(--darker);
    padding: 0;

  }

  h1 {
    font-family: 'Satistfy', cursive;
    text-align: center;
    font-size: 4em;
    margin: 0 5px 5px 5px;
    text-shadow:   -1px -1px 0 var(--darkest),
     1px -1px 0 var(--darkest),
     -1px 1px 0 var(--darkest),
     1px 1px 0 var(--darkest);
  }

  h2 {
    text-align: center;
    margin: 5px 5px 5px 300px;
    color: var(--darkest);
    font-size: 2em;

    /* background-image: url("https://cdn3.iconfinder.com/data/icons/camp-2/100/Plan_de_travail_1_copie_10-512.png");
    background-repeat: no-repeat;
    background-position: 620px 0;
    background-size: contain; */
  }

  /* h2::after {
    display: block;
    transform: scale(.1);
    position: relative;
    left: 50%;
    top: -20%;
    content:url('https://cdn3.iconfinder.com/data/icons/camp-2/100/Plan_de_travail_1_copie_10-512.png');
  } */

  /* ==== CREATE FORM ==== */

  .form-div {
    border: 1px solid var(--darkest);
    border-radius: 5px;
    margin: 0 auto;
    width: 95%;
    background-color: rgba(84, 115, 97, .7);
    padding: 10px;
  }
    .form-div input[type=submit] {
      width: 100%;
      height: 25px;
      font-size: 18px;
      margin-top: 20px;
      background-color: var(--lighter);
      color: var(--darkest);
      border-radius: 3px;
      border: 1px solid var(--darkest);
    }
    .form-div input:hover {
      background-color: var(--lightest);
      color: var(--darkest);
      border: 1px solid var(--darkest);
    }
    .form-div label {
      font-size: 20px;

    }
    .form-div select {
      width: 100%;
      margin-bottom: 20px;
      height: 30px;
      font-size: 16px;
    }

  .radio-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .thumbnail {
    width: 70px;
    height: 70px;
  }

  /* ==== RENDERED LIST ==== */

  .render-div {
    border: 1px solid var(--darkest);
    border-radius: 5px;
    background-color: rgba(84, 115, 97, .7);
    margin: 0 auto;
    text-align: center;
    width: 95%;
    padding: 10px;
    margin-bottom: 15px;
  }

  .render-div img {
    width: 300px;
    height: 300px;
  }
  .render-div h4 {
    margin: 3px;
  }

  .fancy {
    font-family: 'Satisfy', cursive;
    font-size: 1.5em;
    text-shadow: 1px 1px var(--lightest);
  }

  .scroll {
    overflow-y: auto;
    height: 500px;
  }
  button {
    background-color: var(--lighter);
    padding: 2px 10px;
    font-size: 14px;
    margin: 2px 8px;
    border-radius: 3px;
    border: 1px solid var(--darkest);
    color: var(--darkest);
    height: 25px;
  }
  button:hover {
    background-color: var(--lightest);
    color: var(--darkest);
    border: 1px solid var(--lighter);
  }

  /* ==== FOOTER ==== */

  .space {
    height: 80px;
  }
  footer {
    background-color: var(--darkest);
    color: var(--medium);
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 75px;
  }

  .footer-links {
    margin: 0 auto;
    width: 50%;
    max-width: 550px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .footer-links2 {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  footer h4 {
    margin: 0;
    padding: 0;
  }
  footer h5 {
    margin: 3px 15px;
    padding: 7px 0 0 0;
    font-family: 'Manjari', sans-serif;
  }

  footer a, footer a:visited {
    color: var(--medium);
  }

/* ==================
| | BROWSER VIEW
================== */

@media only screen and (min-width: 850px) {

  /* ==== GENERAL ==== */

  .container {
    max-width: 1000px;
  }

  /* ==== CREATE FORM ==== */

  .form-div {
    width: 420px;
  }

  .render-div {
    width: 350px;
  }

  .mobile-flex {
    display: flex;
    justify-content: space-around;
  }

  .thumbnail {
    width: 90px;
    height: 90px;
  }
  .space {
    height: 0px;
  }

}
