/* ==================
| | Imported Fonts
================== */

 @import url("https://fonts.googleapis.com/css?family=Noto+Sans+TC&display=swap");
 @import url("https://fonts.googleapis.com/css?family=Satisfy&display=swap");
 @import url('https://fonts.googleapis.com/css?family=Manjari|Satisfy&display=swap');

/* ==================
| | MOBILE VIEW
================== */

  /* ==== GENERAL ==== */

  * {
    border: 1px solid gold;
  }

  body {
    background-color: lightgreen;
    /* font-family: 'Noto Sans TC', sans-serif; */
    font-family: 'Manjari', sans-serif;
  }

  .container {
    margin: 0 auto;
    min-width: 400px;
  }

  .align-center {
    margin: 0 auto;
    text-align: center;
  }

  /* ==== HEADER ==== */

  h1 {
    font-family: 'Satistfy', cursive;
    text-align: center;
    font-size: 3em;
    margin: 5px;
  }

  h2 {
    text-align: center;
    margin: 5px 5px 5px 200px;
    /* background-image: url("https://cdn3.iconfinder.com/data/icons/camp-2/100/Plan_de_travail_1_copie_10-512.png");
    background-repeat: no-repeat;
    background-position: 620px 0;
    background-size: contain; */
  }

  h2::after {
    display: block;
    transform: scale(.1);
    position: fixed;
    left: 50%;
    top: -20%;
    content:url('https://cdn3.iconfinder.com/data/icons/camp-2/100/Plan_de_travail_1_copie_10-512.png');
  }

  /* ==== CREATE FORM ==== */

  .form-div {
    margin: 0 auto;
    width: 95%;
  }
    .form-div input {
      width: 100%;
    }
    .form-div select {
      width: 100%;
    }

  .radio-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .thumbnail {
    width: 70px;
    height: 70px;
  }

  /* ==== RENDERED LIST ==== */

  .render-div {
    margin: 0 auto;
    text-align: center;
    width: 95%;
  }

  .render-div img {
    width: 300px;
    height: 300px;
  }

/* ==================
| | BROWSER VIEW
================== */

@media only screen and (min-width: 850px) {

  /* ==== GENERAL ==== */

  body {
    background-color: lightblue;
  }

  .container {
    max-width: 1000px;
  }

  /* ==== CREATE FORM ==== */

  .form-div {
    width: 420px;
  }

  .render-div {
    width: 350px;
  }

  .mobile-flex {
    display: flex;
    justify-content: space-around;
  }

  .thumbnail {
    width: 90px;
    height: 90px;
  }

}
